body {
  background-image: url("./img/1616611795_49-p-nezhno-biryuzovii-fon-53.jpg");
  background-size: cover;
  background-position: center center;
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fefefe;
  margin: 0;
}
.game-container {
  text-align: center;
  background: rgba(90, 93, 165, 0.8);
  background: linear-gradient(
    to bottom,
    rgba(90, 93, 165, 1),
    rgba(0, 0, 0, 0.7)
  );
  height: 600px;
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
h1 {
  width: 0;
  color: #fff;
  height: 24px;
  border: none;
  font-size: 56px;
  max-width: 150px;
  font-weight: 300;

  font-family: inherit;
  background: transparent;
  transition: all 0.3s ease-in-out 0s;
  border-bottom: 1px solid transparent;
  -webkit-appearance: textfield;
}
p {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

input {
  margin-top: 200px;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #343a40;
  border-radius: 5px;
  background: #e9ecef;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .responsive-number {
    font-size: 14px;
    padding: 8px;
  }
}
.game-container button {
  margin-top: 50px;
  font-size: 16px;
  color: white;
  background-color: #17a2b8;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.game-container button:active {
  transform: scale(0.95);
}

.result {
  margin-top: 25px;
  font-size: 20px;
}
.result.succes {
  color: #05f772;
 
}
.result.error {
  color: red;
}
.result.warning {
  color: goldenrod;
}
